@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: normal;
}

@media (max-width: 1024px) {
  .fs-60 {
    font-size: 40px;
  }
  .fs-17 {
    font-size: 15px;
  }
  .pregunta-position {
    width: 75px;
    position: absolute !important;
    right: 0;
    top: 0;
    opacity: .4;
  }
  .img-medio {
    width: 50px
  }

  
  
  .mobile-height-main {
    height: 250px;
  }

}

.form-control {
  border: 0px;
  background: #DFDDCD;
  border-radius: 0px;
}

.btn-custom {
  border-radius: 0;
  border: 0;
}

#informacion {
  font-family: Gilroy;
}

.bg-lightblue {
  background: #32B9FD;
}

.bg-pink {
  background: #FDA9D1;
}

.bg-pastel {
  background: #DFDDCD;
}

.bg-red {
  background: #FF3823;
}

.bg-yellow {
  background: #FFD32F;
}

.bg-green {
  background: #22C253;
}

.bg-orange {
  background: #FF821E;
}

.bg-yellow-light {
  background: #FFF684;
}

.bg-violet {
  background: #525FBE;
}

.bg-circle-categorias {
  background: #FFDCB7;
}

.bg-sky {
  background: #C0EAFD;
}

.bg-lightgreen {
  background: #C9ED32 !important;
}

.bg-violeta {
  background: #EA348F;
}

.border-radius-r-b {
  border-bottom-right-radius: 70px;
}

.card-tecnica {
  border: none;
  border-radius: 50px !important;
}

.text-lightblue {
  color: #32B9FD;
}

.text-orange {
  color: #FF821E;
}

.text-dark-pink {
  color: #EA348F;
}

.text-yellow {
  color: #FFD32F;
}

.text-yellow-light {
  color: #FFF684 !important;
}

.text-violet {
  color: #525FBE !important;
}

.text-light-green {
  color: #C9ED32 !important;
}

.text-red {
  color: #FF3823 !important;
}

.text-pastel {
  color: #DFDDCD !important;
}

.text-categorias {
  color: #5B3F34;
}

.line-height-normal {
  line-height: normal;
}

.text-grey {
  color: #54443C;
}

.text-pink {
  color: #FDA9D1;
}

.text-sugerencias {
  color: #343434 !important;
}

.card-pdfs {
  padding: 2rem 0 !important;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border-radius: 9px;
  text-align: center;
  border-radius: 25px;
}

.flex-1 {
  flex: 1;
}

.flex--75 {
  flex: 0.75;
}

.roboto {
  font-family: Roboto;
}

.grid-cards-sugerencias {
  display: grid;
  grid-auto-flow: column;
  gap: 5%;
}

.pointer {
  cursor: pointer;
}

.circle-years {
  background: #DFDDCD;
  border-radius: 50%;
  font-size: 22px;
  width: 40px;
  height: 40px;
}

.text-main {
  letter-spacing: 0px;
  color: #525FBE;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 60px;
}

.circle-categorias {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.fs-60 {
  font-size: 60px;font-family: 'Gilroy';
}

.fs-48 {
  font-size: 48px;font-family: 'Gilroy';
}

.fs-40 {
  font-size: 40px;font-family: 'Gilroy';
}

.fs-30 {
  font-size: 30px;font-family: 'Gilroy';
}

.fs-26 {
  font-size: 26px;font-family: 'Gilroy';
}

.fs-22 {
  font-size: 22px;
}

.fs-18 {
  font-size: 18px;font-family: 'Gilroy';
}

.fs-17 {
  font-size: 17px;font-family: 'Gilroy';
}

.justify-evenly {
  justify-content: space-evenly;
}

.br-15 {
  border-radius: 30px;
}

.width-fit {
  width: fit-content;
}

.col-2-5 {
  flex: 0 0 20%;
  max-width: 20%;
}

.shadow-pencil {
  border-left: 5px solid #00000038;
}

.bg-yellow-lapiz {
  background: linear-gradient(90deg, #FFD32F 90%, #FFFFFF 0%);
}

.bg-green-lapiz {
  background: linear-gradient(90deg, #22C253 90%, #FFFFFF 0%);
}

.bg-pink-lapiz {
  background: linear-gradient(90deg, #FDA9D1 90%, #FFFFFF 0%);
}

.bg-red-lapiz {
  background: linear-gradient(90deg, #FF3823 90%, #FFFFFF 0%);
}

.bg-lightblue-lapiz {
  background: linear-gradient(90deg, #32B9FD 90%, #FFFFFF 0%);
}

.img-limites {
  background: url(../images/sin-limites.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.img-movimiento {
  background: url(../images/movimiento.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.close {
  font-size: 1.9rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0px 0 #fff;
  opacity: 1;
}

.btn-sm, .btn-group-sm>.btn {
  padding: 0.1rem 0.5rem;
}



.lapiz-amarillo, .lapiz-verde, .lapiz-rosa, .lapiz-azul{
  height: 82px;
}

.lapiz-rojo{
  height: 82px;
}
.lapiz-amarillo, .lapiz-verde, .lapiz-rosa, .lapiz-rojo, .lapiz-azul{
  position: relative;
}

.lapiz-amarillo::after{
  content: '';
  position: absolute;
  background: url(../../assets/images/svg/lapiz-amarillo.svg);
  right: 30px;
  height: 82px;
  width: 82px;
  top: 0;
  z-index: 10000;
  background-size: cover;
}
.lapiz-verde::after{
  content: '';
  position: absolute;
  background: url(../../assets/images/svg/lapiz-verde.svg);
  right: 30px;
  height: 82px;
  width: 82px;
  top: 0;
  z-index: 10000;
  background-size: cover;
}  
.lapiz-rosa::after{
  content: '';
  position: absolute;
  background: url(../../assets/images/svg/lapiz-rosa.svg);
  right: 30px;
  height: 82px;
  width: 82px;
  top: 0;
  z-index: 10000;
  background-size: cover;
}
.lapiz-rojo::after{
  content: '';
  position: absolute;
  background: url(../../assets/images/svg/lapiz-rojo.svg);
  right: 30px;
  height: 82px;
  width: 82px;
  top: 0;
  z-index: 10000;
  background-size: cover;
}
.lapiz-azul::after{
  content: '';
  position: absolute;
  background: url(../../assets/images/svg/lapiz-celeste.svg);
  right: 30px;
  height: 82px;
  width: 82px;
  top: 0;
  z-index: 10000;
  background-size: cover;
}
@media (max-width:768px) {
  .img-limites {
    height: 100px;
  }
}

.height-navbar {
  height: 80px;
}

.dropdown-menu {
  border-radius: 0;
  background-color: #22C253;
  border: 0;
  box-shadow: none;
}

.dropdown-item:hover {
  background-color: #4acf72;
}

.ojos-position {
  width: 150px;
  right: 0;
  top: 15px;
  /* position: absolute; */
  opacity: 1;
}

.position-text-lapiz {
  padding: 2rem 5.5rem !important;
}

.h-categorias {
  height: 250px;
}

.top-bienal {
  top: 4rem;
}

@media (min-width: 1366px) {
  .height-navbar {
    height: 72px;
  }
  .ojos-position {
    top: 11rem;
    position: relative;
    opacity: 1;
  }
  .h-categorias {
    height: 314px;
  }
  .top-bienal {
    top: 11rem;
  }

}